{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/CSS/food_request.css"> -->
  <link rel="stylesheet" href="{% static 'food_request.css' %}">
  <title>Food Request Form</title>
</head>
<body>
  <div class="container">
    <div class="head">

      <h1>Food Request Form</h1>
    </div>
    <div class="content">
      <form class="request" method="POST" action="\food_request">
        {%csrf_token%}
        <p name="name">Name</p>
        <input type="text" name="name" id="name" placeholder="Name">
        <ul class="same">
          <li style="padding-left: 0;">
            <p name="day">Day</p>
            <select name="day" id="day">
              <option value="select">---Select Option---</option>
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Saturday</option>
              <option value="sunday">Sunday</option>
            </select>
          </li>
          <li>
            <p name="date">Date</p>
            <input type="date" name="date" placeholder="Date" style="padding: 13px 10px;">
          </li>
        </ul>
        <p name="time">Time</p>
        <select name="time" id="time">
          <option value="select">---Select Option---</option>
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="snack">Snack</option>
          <option value="dinner">Dinner</option>
        </select>
        <p name="reason">Reason</p>
        <textarea name="reason" id="reason" cols="55" rows="10" placeholder="Type Reason"
          style="border-radius: 5px;"></textarea>
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>