{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MESS</title>
  {% comment %} <link rel="stylesheet" href="/CSS/mess.css"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'mess.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

</head>

<body>
  <div class="heading">
    <h1>MESS</h1>
  </div>
  <table class="menu" style="width:100%">
    <tr>
      <th>DAY</th>
      <th>BREAKFAST</th>
      <th>LAUNCH</th>
      <th>SNAKCS</th>
      <th>DINNER</th>
    </tr>
    <tr>
      <th>MONDAY</th>
      <td>IDLI SAMBHAR<BR>PLAIN/FRIED + COCONUT<BR>CHATNI + TEA + MILK + SEASONAL FRUIT</td>
      <td>MIX VEG WITH PANEER + RAJMA + ROTI + RICE +<BR> SALAD + BOONDI RAITA +<BR>LEMON</td>
      <td>PAPDI CHAAT/ALOO<BR>TIKKI[2 PIECE] +<BR>MATAR + CURD +<BR>HARI CHATNI + CHAAT<BR>MASALA + TEA</td>
      <td>BHINDI/ALLO + carrot + mutter<br>(seasonal) + aloo beans + mix<br>dal + roti + rice + onion salad+<br>cocnut
        laddoo/besan ladoo</td>
    </tr>
    <tr>
      <tH>TUESDAY</tH>
      <td>aloo tamatar matar +<br>plain paratha + achar +<br>tea + milk + seasonal <br>fruit</td>
      <td>lauki lapeta + arhar dal +<br>roti + roci + achar + salad + <br> curd + lemon</td>
      <td>vada pav + tea + hari<br>chatni + tomato<br>sauce</td>
      <td>matar paneer/paneer butter<br>masala + aloo choka + veg<br> pulav + roti + onion salad</td>
    </tr>
    <tr>
      <th>wednesday</th>
      <td>pav bhaji with<br>butter + tea + milk +<br>seasonal fruit</td>
      <td>aloo pyaaj + kadhi + roti +<br>rice + salad +<br>masala mirchi + papad + lemon</td>
      <td>pstties +<br>tomato + chilli sauce<br>+ coffee</td>
      <td>mix veg + kali masoor<br>dal + roti + rice + onion<br>salad + ice<br>cream(butter scotch/chocolate)</td>
    </tr>
    <tr>
      <th>thursday</th>
      <td>aloo pyaaj<br>paratha/gobhi<br>paratha + curd + achar +<br>seasonal fruit</td>
      <td>kashi phal + chole ROTI +<br>jeera rice + mix salad +<br>cur + lemon</td>
      <td>bread pakoda + tea +<br> shot + hari chatni</td>
      <td>patta gobhi matar/aloo<br>gobhi matar + lauki<br>chanadal + roti rice + custard +<br>sweet corn soup</td>
    </tr>
    <tr>
      <th>friday</th>
      <td>veg sandwhich + corn<br>flakes + tea + milk +<br>tomato + chilli sauce + <br>seasonal fruit</td>
      <td>bhaigan bharta(dry) +<br>arhar dal+ roti + rice +<br>mix salad + boondi raita +<br>lemon</td>
      <td>chowmein + tea +<br>tomato + chilli sauce</td>
      <td>chole + mix veg / aloo palak +<br>roti + rice + kheer/suji<br>halwa/moong dal halwa<br>(once in a month) + veg
        soup</td>
    </tr>
    <tr>
      <th>saturday</th>
      <td> namkeen veg jawa with<br>gobhi , matar , gajar + tea + milk +<br>tomato + chilli sauce<br>+ seasonal fruit
      </td>
      <td>aloo soyabean lapeta +<br>chana dal + roti + rice +<br>mix salad + curd + lemon</td>
      <td>samosa + tea + hari <br>chatni + shot</td>
      <td>aloo gobhi + dal makhani +<br>roti + rice + oniion salad +<br>gulab jamun(1 piece)</td>
    </tr>
    <tr>
      <th>sunday</th>
      <td>aloo tamatar sabji +<br>plain poori / palak<br>poori + tea + jalebi +<br> curd + seasonal fruit</td>
      <td>chole bhature + masala<br>mirch + sirka pyaaj + jeera<br>rice + cold drink</td>
      <td style="font-size:40px ;"> OFF </td>
      <td>dum aloo / lauki kofta / matar<br>mushroom (once in a month)<br> + aloo<br>bhaigan dry/ aloo beans +
        roti<br>rice + onion salad</td>
    </tr>
  </table>


</body>
</html>