* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "'Poppins',sans-serif";
}


body {
  display: flex;
  min-height: 100vh;
  background: rgb(252, 251, 251);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200; 300; 400; 500; 608; 708; 800; 900& display=swap');



.navigation {
  position: fixed;
  top: 1%;
  Left: 0.1%;
  bottom: 5%;
  width: 250px;
  border-radius: 10px;
  box-sizing: initial;
  border-Left: 5px solid #4d5bf9;
  background: #4d5bf9;
  transition: 0.5s;
  height: 1000px;

}

.navigation ul {
  position: absolute;
  top: 0;
  Left: 0;
  width: 100%;
  padding-left: 15px;
  padding-top: 25px;
}

.navigation ul li {
  position: relative;
  List-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

.navigation ul li.active {
  background: #fff;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  Line-height: 60px;
  color: #fff;
}

.navigation ul li.active a {
  color: rgb(9, 2, 2);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  Line-height: 64px;
  text-align: center;
}

.navigation ul li a .icon icon-icon {
  font-size: 1.5em;
}

.navigation ul li a.title {
  position: relative;
  display: none;
  padding-left: 10px;
  height: 60px;
  Line-height: 60px;
  white-space: normal;
}


.heading {
  position: absolute;
  top: 5%;
  left: 30%;
  transform: translate(-50%, -50%);

}

.dash {
  font-size: xx-large;
}

.user {
  width: 160px;
  height: 160px;
  top: 100%;
  left: 30%;
  background-color: aqua;
}

.heading a {
  text-align: center;
  text-decoration: none;
}

.navigation ul li a .text {
  position: absolute;
  font-size: 0.75em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(22px);
}

.navigation1 ul li.active a .text1 {
  opacity: 1;
}

.indicator1 {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: aliceblue;
  top: -50%;
  border-radius: 20%;
  border-color: white;
  transition: 0.5s;
}

.indicator1::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px 10px 0 0 var(--clr);
}

.indicator1::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 var(--clr);
}

.navigation ul li:nth-child(1).active:hover~.indicator1 {
  transform: translateX(calc(60px * 0));
}

.navigation ul li:nth-child(2).active:hover~.indicator1 {
  transform: translateX(calc(64px * 1));
}

.navigation ul li:nth-child(3).active:hover~.indicator1 {
  transform: translateX(calc(67px * 2));
}

.navigation ul li:nth-child(4).active:hover~.indicator1 {
  transform: translateX(calc(68px * 3));
}

.navigation ul li:nth-child(5).active:hover~.indicator1 {
  transform: translateX(calc(68px * 4));
}

.navigation ul li:nth-child(6).active:hover~.indicator1 {
  transform: translateX(calc(69px * 5));
}

.navigation ul li:nth-child(7).active:hover~.indicator1 {
  transform: translateX(calc(69px * 6));
}

.navigation ul li:nth-child(8).active:hover~.indicator1 {
  transform: translateX(calc(69px * 7));
}

.navigation ul li:nth-child(9).active:hover~.indicator1 {
  transform: translateX(calc(69px * 8));
}

.navigation ul li:nth-child(10).active:hover~.indicator1 {
  transform: translateX(calc(69px * 9));
}

.navigation ul li:nth-child(11).active:hover~.indicator1 {
  transform: translateX(calc(69px * 10heading));
}

.carding {
  margin: 8% 25%;
}

.column {
  float: left;
  width: 25%;

  padding: 0px 5px;

}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0px -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: flex;
}

/* Responsive columns */
@media screen and (max-width: 400px) {
  .column {

    display: block;
  }
}

.col-10 {
  width: 120%;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 10px;
  float: left;
  width: 180px;
  height: 180px;
  text-align: center;
  background-color: #4d5bf9;
  color: #fff;
  transition: 0.3s;

}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 16px 10px;
  margin: 10px 10px;
  float: left;
  flex-basis: 15em;
  justify-content: space-between;
  width: 780px;
  height: 180px;
  text-align: center;
  background-color: #4d5bf9;
  color: #fff;
  transition: 0.3s;

}

.card:hover {
  box-shadow: 4px 4px 8px 4px rgb(0, 0, 0);
}