.d-inline-block{
  border: 0px;
  border-radius: 20px;
}
.btn{
  display: inline;
  text-decoration: none;
}
.btn:active{
  color: aqua;
}
.btn:visited{
  color: crimson;
}
.btn:hover{
  color: aqua;
  background-color: black;
  text-decoration: none;
}
.list-group-item{
  font-size: 10%;
  padding-left: 20px;
  width: 200px;
  background-color: cadetblue;
}
.row{
  width: 30%;
}