body{
    background-color: burlywood;
}
#logo{
    width: 150px; height:150px;
    align-content: center;
    border-color: aliceblue;
    border-style: solid;
    border-radius: 3px;
    margin: auto 600px;
}
#login{
    text-align: center;
    border-radius: 14px;
}
footer{
    text-align: center;
}
#usname,#pswrd
{
    border-radius: 4px;
    transition: .14s;
    background-color:rgb(231, 75, 13);
    color: black;
    border-color: black;
}
::placeholder{
    color: aliceblue;
}
#usname:hover,#pswrd:hover{
    width:200px;
}
.btn:hover{
    color: aqua;
    background-color: black;
}