*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
.rreason{
    top: 6px;
    float: left;
    width: auto;
}
.head{
    text-align: center;
    background-color: aliceblue;
}
div{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    font-family: 'Libre Baskerville', serif; 
    background-color: antiquewhite;
}
.container{
    border-style: groove;
   box-shadow: 10px 10px 10px 5px grey;
   border-radius: 5px;
   margin: auto;
   display: flex;
}
.size{
    width: 480px;
}
.label{
    margin: 10px 0;
    font-family: 'Libre Baskerville', serif;
   
}
.input{
    margin: 10px 0;
}
.button{
    cursor: pointer;
    padding: 10px 10px;
    margin: 10px 40%;
    
}